---
import BlogCard from "../components/BlogCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div id="blogGallery" class="flex">
    {
      allPosts.map((post) => (
        <a class="blogCard" href={post.url}>
          <BlogCard
            title={post.frontmatter.title}
            summary={post.frontmatter.description}
            url={post.frontmatter.image.url}
          />
        </a>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    width: 250px;
  }
  a:hover {
  }
</style>
