---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
var url = false;
try {
  url = frontmatter.image.url;
} catch (e) {}
const tagLink = "../tags/";
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>
    Written by {frontmatter.author} on: {frontmatter.pubDate.slice(0, 10)}
  </p>
  <div class="flex" id="tags">
    Tags: {
      frontmatter.tags.map((tag) => (
        <a class="tag solidBtn" href={tagLink + tag}>
          {tag}
        </a>
      ))
    }
  </div>

  {
    url && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }
  <slot />
</BaseLayout>

<style>
  a {
    text-decoration: none;
    font-weight: bold;
  }
  #tags {
    margin-top: -1rem;
  }
</style>
