---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ViewTransitions } from "astro:transitions";
const { frontmatter } = Astro.props;
var url = false;
try {
  url = frontmatter.image.url;
} catch (e) {}
const tagLink = "../../tags/";
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>
    Written by {frontmatter.author} on: {frontmatter.pubDate.slice(0, 10)}
  </p>
  <div id="tags">
    {
      frontmatter.tags.map((tag) => (
        <a class="tag solidBtn" href={tagLink + tag}>
          {tag}
        </a>
      ))
    }
  </div>

  {
    url && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }

  <!-- BODY -->
  <div class="blogBody">
    <slot />
  </div>
</BaseLayout>




<style>
  img {
    margin: 20px;
  }
  .blogBody {
    margin: 25px;
    max-width: 50vw;
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }
  #tags {
    margin-top: -1rem;
  }
</style>
